.section__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
}
.section_heading_container {
    max-width: 36px;
    min-height: 32px;
    display: flex;
    align-items: center;
}
.section_input_container {
    display: flex;
}
