.input__block_container {
    display: flex;
    min-height: 32px;
    align-items: center;
    max-width: 50%;
}

.input__block_title_container {
    display: flex;
    align-items: center;
}

.input__block_input_container {
    display: flex;
    align-items: center;
    flex: 0 1;
}

.icon_container {
    display: flex;
    max-width: fit-content;
    height: fit-content;
}
