.container {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.inner_container {
    width: 64px;
    height: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg_btn {
    display: flex;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.svg_plus_icon {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}
