.skew_section__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.skew_section_heading_container {
    max-width: 36px;
    min-height: 32px;
    display: flex;
    align-items: center;
}
.skew_section_input_container {
    display: flex;
    align-items: center;
    column-gap: 22px;
}
